@import 'tailwindcss';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	/* primary — основной цвет текста */
	--color-primary: oklch(12.9% 0.042 264.695); /* slate-900 */
	--color-primary-bg: oklch(100% 0 255); /* white */
	--color-primary-inverse: oklch(98.4% 0.003 247.858); /* slate-50 — для инверсных элементов */

	/* secondary */
	--color-secondary: #4b5563;
	--color-secondary-light: #9ca3af;
	--color-secondary-dark: #1f2937;

	/* accent */
	--color-accent: oklch(59.6% 0.145 163.225); /* emerald-600 */
	--color-accent-2: oklch(54% 0.130 164);

	/* code — цвета для подсветки кода */
	--color-code-bg: oklch(96% 0.01 260);
	--color-code-text: oklch(12.9% 0.042 264.695);
	--color-code-border: oklch(86% 0.02 260);
}

:root {
	--bg-color: #fcfdfe;
	--text-color: #303030;
	--grid-dot-color: oklch(86.9% 0.022 252.894);
	color-scheme: light;
}

.dark {
	--bg-color: #0b0f14;
	--text-color: #e5e7eb;
	--grid-dot-color: oklch(28% 0.02 264deg);

	--color-primary: oklch(98.4% 0.003 247.858);
	--color-primary-bg: oklch(16% 0.012 264.695);
	--color-primary-inverse: oklch(12.9% 0.042 264.695);
	--color-secondary: #9ca3af;
	--color-secondary-light: #6b7280;
	--color-secondary-dark: #d1d5db;
	--color-accent: oklch(69.6% 0.145 163.225);

	--color-code-bg: oklch(20% 0.01 260);
	--color-code-text: oklch(96% 0.01 260);
	--color-code-border: oklch(28% 0.02 264);

	color-scheme: dark;
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
	min-height: 100dvh;
	margin: 0;
	padding: 0;
}

body, footer {
    transition: background-color 0.2s ease, color 0.2s ease;
}


.app-wrapper {
	display: grid;
	grid-template-rows: 1fr auto;
	width: 100%;
	height: 100%;
	min-height: 100dvh;
}

.app-container {
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	min-width: 0;
}

.tag {
	@apply rounded-full border border-slate-200 dark:border-slate-700 bg-primary-bg px-6 py-1 shadow-md;
}

.app-button-primary {
	@apply inline-flex items-center justify-center rounded-full bg-accent px-6 py-2.5
		text-sm font-medium text-primary-inverse shadow-md
		transition-all duration-150 ease-out
		 hover:-translate-y-1
		focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-accent focus-visible:ring-offset-2 focus-visible:ring-offset-primary-bg;
}

.app-button {
	@apply inline-flex items-center justify-center rounded-full border border-slate-200 dark:border-slate-700
		bg-primary-bg px-6 py-2.5 text-sm font-medium text-primary shadow-md
		transition-all duration-150 ease-out
		hover:-translate-y-1
		focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-accent focus-visible:ring-offset-2 focus-visible:ring-offset-primary-bg;
}
